<app-nav-bar></app-nav-bar>
<div class="container" style="text-align: center;" >
    <h1>Bienvenidos a la API de Rick and Morty</h1>
    <h2>Esta Es una Api a nivel de front-end utilizando los endpoints <br>
    que nos entrega: https://rickandmortyapi.com <br></h2>
   <h2>
    Tecnologías utilizadas:
   </h2> 
    
    <section> 
        <h3>
            <i class='bx bxl-amazon' style='color:#873a00'  ></i>
            Amazon Web Service
        </h3>
        <h3>
            <i class='bx bxl-visual-studio' style='color:#00057b' ></i>
            Visual Studio Code
        </h3>
        <h3>
            <i class='bx bxl-typescript' style='color:#00057b'  ></i>
            TypeScript
        </h3>
        <h3>
            <i class='bx bxl-angular' style='color:#7b0000'  ></i>
            Angular
        </h3>
        <h3>
            <i class='bx bxl-git' style='color:#010108'  ></i>
            Git-Hub
        </h3>
        <h3 style="margin-top: 60px;">Modo de uso Actualmente estas en Home si vas a characters vas a poder ver algunos personajes aleatorios  <br>
            y si le das a búsqueda podrás buscar a todos los personajes por nombre</h3>
        <h4 style="margin-top: 60px;">Developer: <a href="https://github.com/alvarato">alvaroBernabeyIzquierdo</a></h4>
    </section>
</div>
